.reserved-halls-container-modern {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.reserved-halls-title-modern {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.MuiPagination-root {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
